body, html{background: #FEFEB4; max-width: 100vmax}

.header-container{text-align: center; padding: 1%}

.nav-container{background: #301B0C; border-radius: 0; border: 0;}
.ul-container{margin-bottom: -10px ; padding-bottom: -10px; border: 0; max-height: 100px}
